@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://img.freepik.com/free-vector/abstract-background-gradient-modern-design_677411-3055.jpg?t=st=1717224820~exp=1717228420~hmac=29a6313136bde46467849a997a275a3ef03e5d1446bdc0acb9e4086d1847edbb&w=1060");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

@layer components {
  .bg-glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 
		hover:bg-gray-600/10 border border-gray-800 text-white;
  }
}
